@model LoginViewModel

@{
    ViewData["Title"] = "Authorization";
}

<div class="row">
    <div class="col-md-6">
        <h2>Authorization</h2>
        <form action="/login" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>Email</label>
                <input name="Email" class="form-control" type="text" value="@Model.Email" />
                <div class="error">@Html.ValidationMessageFor(m => m.Email)</div>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input name="Password" class="form-control" type="password" />
            </div>
            <p>
                <input type="checkbox" name="RememberMe" value="true" /> Remember me
            </p>
            <button class="button">Authorization</button>
        </form>
    </div>
    <div class="col-md-6">
        <h2>Registration</h2>
        <form action="/register" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>Email</label>
                <input name="Email" class="form-control" type="text" value="@Model.Email" />
                <div class="error">@Html.ValidationMessageFor(m => m.Email)</div>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input name="Password" class="form-control" type="password" />
                <div class="error">@Html.ValidationMessageFor(m => m.Password)</div>
            </div>
            <br />
            <button class="button">Register</button>
        </form>
    </div>
</div>